<!DOCTYPE html>
<html ng-app="admin">
<head>
  <title>Circle</title>
  <%= stylesheet_link_tag    "/assets/admin", media: "all"%>
  <%= javascript_include_tag "/assets/admin"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
